{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>
    . It will append "- Homepage" to the site title defined in base. #}
    {% block title %}{% parent %}{% endblock %}

    {% block content %}

    <main id="main" class="site-main">
{% include "templates/partials/home.html" %}
{% include "templates/partials/about.html" %}
{% include "templates/partials/services.html" %}
{% include "templates/partials/portfolio.html" %}
{% include "templates/partials/team.html" %}
{% include "templates/partials/blog.html" %}
{% include "templates/partials/contact.html" %}
    </main>
    {% endblock %}

    {% block modal%}

        {% include "templates/partials/modal.html" %}

    {% endblock %}
